@model GameLandWebApplication.Game

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.GameName);
}

<h1>Details</h1>
<style>
    .__itemreq {
        margin-right: 10px;
        color: #777;
    }
    .__items {
        margin-right: 10px;
        font-size: 14px;
        padding-top: 2px;
    }
    .__recs {
        border: 1px solid #777;
    }
</style>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GameName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GameName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LinkOnSteam)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.LinkOnSteam)" target="_blank">@Html.DisplayFor(model => model.LinkOnSteam)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RatingByRedaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RatingByRedaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src=" @Html.DisplayFor(model => model.Photo)" style="max-height: 500px; width:auto" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class="col-sm-10">
            <iframe width="560" height="315" src="@Html.DisplayFor(model =>model.Trailer)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer.DeveloperName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </dd>
        <dt class="col-sm-2">
            <span style="padding-right:5px;">Genres: </span>
        </dt>
        <dd class="col-sm-10">
            <div style="display:flex; ">

                @foreach (var genre in Model.GamesGenres)
                {
                    <span>
                        @if (genre != Model.GamesGenres.Last())
                        {
                            @Html.DisplayFor(modelItem => genre.Genre.GenreName)<span style="padding-right:4px;">, </span>
                        }
                        else @Html.DisplayFor(modelItem => genre.Genre.GenreName)
                    </span>
                }
            </div>
        </dd>
        <dt class="col-sm-2">
            <span>Platforms: </span>
        </dt>
        <dd class="col-sm-10">
            <div style="display:flex;">
                <div>
                    @foreach (var platform in Model.GamesPlatforms)
                    {
                        <div style="display:flex; margin-right:10px; color:@PlatformsColors.ToColor(platform.Platform.PlatformName);">
                            @Html.DisplayFor(modelItem => platform.Platform.PlatformName)
                        </div>
                    }
                </div>
                <div>
                    @foreach (var platform in Model.GamesPlatforms)
                    {
                        <div style="display:flex">
                            @Html.DisplayFor(modelItem => platform.ReleaseDate.Day)<span>.</span>@Html.DisplayFor(modelItem => platform.ReleaseDate.Month)<span>.</span>@Html.DisplayFor(modelItem => platform.ReleaseDate.Year)
                        </div>
                    }
                </div>
            </div>


        </dd>
        <dt class="col-sm-2">
            <span style="padding-right:5px;">SystemRequirements: </span>
        </dt>
        <dd class="col-sm-10">
            <div style="display:flex;justify-content:space-between;">
                @foreach (var sysreq in Model.GamesSystemRequirements)
                {
                    <div class="__recs">
                        <div><p style="font-weight:600"> @Html.DisplayFor(modelItem => sysreq.SystemRequirement.SystemRequirementName) </p></div>
                        <div>
                            <div style="display:flex;"><div class="__itemreq">@Html.DisplayNameFor(modelItem => sysreq.Os):</div><div class="__items">@Html.DisplayFor(modelItem => sysreq.Os)</div></div>
                            <div style="display:flex;"><div class="__itemreq">@Html.DisplayNameFor(modelItem => sysreq.Cpu):</div> <div class="__items">@Html.DisplayFor(modelItem => sysreq.Cpu)</div></div>
                            <div style="display:flex;"><div class="__itemreq">@Html.DisplayNameFor(modelItem => sysreq.Videocard):</div> <div class="__items"> @Html.DisplayFor(modelItem => sysreq.Videocard)</div></div>
                            <div style="display:flex;"><div class="__itemreq">@Html.DisplayNameFor(modelItem => sysreq.Ram):</div> <div class="__items"> @Html.DisplayFor(modelItem => sysreq.Ram)</div></div>
                            <div style="display:flex;"><div class="__itemreq">@Html.DisplayNameFor(modelItem => sysreq.SpaceOnStorage):</div> <div class="__items"> @Html.DisplayFor(modelItem => sysreq.SpaceOnStorage)</div></div>
                            <div style="display:flex;"><div class="__itemreq">@Html.DisplayName(string.IsNullOrEmpty(sysreq.DirectX) ? "" :@Html.DisplayNameFor(modelItem => sysreq.DirectX))</div> <div class="__items">@Html.DisplayFor(modelItem => sysreq.DirectX)</div> </div>
                        </div>
                    </div>
                }
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Top">Back to List</a>
</div>
