@model IEnumerable<GameLandWebApplication.Game>

@{
    ViewData["Title"] = "GameLand TopRatedGames";
}

<h1>GameLand TopRatedGames</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> 
<style>
    .item{
    background:rgb(229, 223, 223);
    border-radius:10px;
    margin:20px 0 20px 0;
    padding: 20px;
    }
   
    </style>
@foreach (var item in Model.OrderByDescending(m=>m.RatingByRedaction).ThenBy(m=>m.GameName)) {
<div class="item">
    <a style="font-weight:700; font-size: 17px; text-decoration:none;color:black;" asp-action="Details" asp-route-id="@item.GameId">@Html.DisplayFor(modelItem => item.GameName)</a>
    <div>
        <span>ReleaseDate: </span>        
        <span>
            @Html.DisplayFor(modelItem => item.GamesPlatforms.FirstOrDefault().ReleaseDate.Day)<span>.</span>@Html.DisplayFor(modelItem => item.GamesPlatforms.FirstOrDefault().ReleaseDate.Month)<span>.</span>@Html.DisplayFor(modelItem => item.GamesPlatforms.FirstOrDefault().ReleaseDate.Year)
        </span>    
    </div>
    <div style="display:flex; ">
        <span style="padding-right:5px;">Genres: </span>   
        @foreach (var genre in item.GamesGenres)
        {
            <span>
                @if (genre != item.GamesGenres.Last())
                {
                    @Html.DisplayFor(modelItem => genre.Genre.GenreName)<span style="padding-right:4px;">, </span>
                }
                else @Html.DisplayFor(modelItem => genre.Genre.GenreName)
            </span>
        }
    </div>
    <div style="display:flex; ">
        <span style="padding-right:5px;">Platforms: </span>
        @foreach (var gamePlatform in item.GamesPlatforms)
        {
            <span>
                @if (gamePlatform != item.GamesPlatforms.Last())
                {
                    @Html.DisplayFor(modelItem => gamePlatform.Platform.PlatformName)<span style="padding-right:4px;">, </span>
                }
                else @Html.DisplayFor(modelItem => gamePlatform.Platform.PlatformName)
            </span>
        }
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.RatingByRedaction)
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.RatingByUsers)
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Photo)
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.GameId">Delete</a>
    </div>
</div>
}
